/* src/pages/HomePage.css */
.home-page {
    padding: 2rem;
  }
  
.intro-image {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  .welcome-section {
    background: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .welcome-section h2 {
    margin-bottom: 1rem;
  }
  
  .welcome-section p {
    margin-bottom: 1rem;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .import-button,
  .view-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .import-button {
    background: #007bff;
    color: #fff;
  }
  
  .view-button {
    background: #28a745;
    color: #fff;
  }
  